.switch {
    position: relative;
    /* height: 1.2rem;
    width: 3.2rem; */
    height: 1.2rem;
    width: 2.6rem;
    border-radius: 100px;
    background: var(--bg);
    margin: .2rem;
    /* border: 1px solid var(--border); */
    /* box-shadow: 0 2px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    cursor: default;
}

.switch .text {
    color: #fff7;
    font-size: 0.6rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.switch.off .text {
    left: 72%;
}
.switch.onn .text {
    left: 25%;
}

.switch .dot {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    /* height: 1.6rem; */
    height: 125%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: var(--secondary);
    cursor: pointer;
    box-shadow: 0 0px 10px 0 rgba(130, 130, 136, 0.37);
    transition: all .15s ;
}
.switch.onn {
    background: var(--imp);
}
.switch.onn .dot {
    left: 75%;
}

.switch.off {
    background: #fc5a5a;
}
.switch.off .dot {
    left: 25%;
}

.switch:hover .hover {
    opacity: 1;
    transform: translateX(-50%) translateY(0%) scale(1);
}