.switch {
    position: relative;
    /* height: 1.2rem;
    width: 3.2rem; */
    height: 1.2rem;
    width: 2.6rem;
    border-radius: 100px;
    background: var(--bg);
    margin: .2rem;
    /* border: 1px solid var(--border); */
    /* box-shadow: 0 2px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    cursor: default;
}

.switch .text {
    color: #fff7;
    font-size: 0.6rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.switch.off .text {
    left: 72%;
}
.switch.onn .text {
    left: 25%;
}

.switch .dot {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    /* height: 1.6rem; */
    height: 125%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    background: var(--secondary);
    cursor: pointer;
    box-shadow: 0 0px 10px 0 rgba(130, 130, 136, 0.37);
    transition: all .15s ;
}
.switch.onn {
    background: var(--imp);
}
.switch.onn .dot {
    left: 75%;
}

.switch.off {
    background: #fc5a5a;
}
.switch.off .dot {
    left: 25%;
}

.switch .hover {
    position: absolute;
    top: calc(100% + .7rem);
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(0);
    background: var(--secondary);
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--txt-2);
    white-space: nowrap;
    padding: 0.4rem;
    opacity: 0;
    transition: all .3s ease;
}

.switch .hover::before {
    content: '';
    position: absolute;
    top: -.4rem;
    left: 50%;
    transform: translateX(-50%);
    height: .4rem;
    width: 1rem;
    background: var(--secondary);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.switch:hover .hover {
    opacity: 1;
    transform: translateX(-50%) translateY(0%) scale(1);
}