
.text-box {
    position: relative;
    width: 100%;
}
.text-box textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 1rem;
    border-radius: 10px;
    height: 200px;
    font-size: 0.9rem;
    background: transparent;
    border: 1.5px solid var(--txt-1);
    background: var(--bg);
    color:#333;
    font-weight: 500;
}

.text-box label {
    position: absolute;
    top: .75rem;
    left: .75rem;
    font-size: 0.9rem;
    color: var(--txt-1);
    font-weight: 600;
    padding: 0 0.25rem;
    background: var(--bg);
    pointer-events: none;
    transition: all .3s ease;
}

.text-box textarea:focus-within ~ label,
.text-box textarea:not(:placeholder-shown) ~ label{
    top: -0.5rem;
    /* left: 0.25rem; */
    font-size: 0.8rem;
}

.text-box textarea::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}
.text-box textarea::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--txt-2);
    border-radius: 100px;
    cursor: pointer;
}