@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

:root {
  --bg: #e8e8e8;
  --border: #d9d9d9;
  --primary: #2d69f8;
  --secondary: #fff;
  --txt-1: #464146;
  --txt-2: #6a6a6a;
  --imp: #04b043;
  --card: #ffda62;
  --card-txt: #5b4602; 
  --border-2: #51afe4;
  --imp-opaque: #04b04924;
  --width: clamp(40vw, 500px, 90vw);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg);
  /* background: #64d39e; */
}

#root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: var(--width);
  flex: 1;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: var(--width);
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.timer-container-dash {
  display: flex;
  gap: .5rem;
}

.primary-btn {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background: var(--primary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all .15s ease;
}

.primary-btn:hover {
  color: var(--primary);
  background: var(--bg);
  /* opacity: .8; */
  /* backdrop-filter: brightness(90%); */
  outline: 1.5px solid var(--primary);
  box-shadow: 0px 0px 10px #0003;
}

.top a.goto {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--imp-opaque);
  color: var(--imp);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}