
header.header{
    padding: 1.25rem 1.25rem;
    color: var(--txt-1);
    font-weight: 700;
    background: var(--secondary);
    /* outline: 1.5px solid var(--border);
    outline-offset: -5px; */
    border-radius: 15px;
    cursor: default;
    width: 100%;
    box-shadow: 0px 0px 10px #0003;
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */

    /* background: rgba( 255, 255, 255, 0.25 ); */
    /* box-shadow: 0 0px 10px 0 rgba(130, 130, 136, 0.37); */
    /* backdrop-filter: blur( 4px ); */
    /* -webkit-backdrop-filter: blur( 4px ); */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}